@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* Custom Fonts */
@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Malinton";
  src: url("./assets/fonts/Malinton/Malinton-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
/* ------------------------------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Geist", sans-serif;
    background-color: #E3E8EF;
}

/* Content CSS files */
/* Download CV Button Styles */
/* Basic button styling */
.download-cv-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease, background 0.3s ease;
}

/* Light ray effect on hover */
.download-cv-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Light ray effect */
  transition: left 0.5s ease;
  z-index: 1;
}

/* On hover, move the light ray from left to right */
.download-cv-button:hover::before {
  left: 100%;
}

.download-cv-button:hover {
  background-color: #464646; /* Change background color on hover */
  transition: background-color 0.3s ease;
}
